* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    font-family: "Helvetica";
}

h2 {
    font-size: 18px;
    padding: 10px 20px;
    color: #ffffff;
}

i {
    font-size: 20px;
}

#lobby {
    text-align: center;
    max-width: 600px;
    background-color: #141414;
    margin: 30px auto;
}

label {
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input {
    padding: 20px;
    box-sizing: border-box;
    background: #eee;
    display: block;
    width: 100%;
    background: rgb(255, 253, 253);
    font-family: Nunito;
    font-size: 16px;
}

#ingresar {
    background: #141414;
    color: #fff;
    font-size: 18px;
    padding: 12px 0;
    width: 100%;
}

#sala {
    display: flex;
    justify-content: center;
}

#videoLocal {
    padding: 20px;
    width: 500px;
    height: 280px;
}

#videoPeer {
    padding: 20px;
    width: 500px;
    height: 280px;
}

#menuBoton {
    text-align: center;
    margin: 0px auto;
    width: 200px;
    height: 50px;
    border: 1px solid white;
}

#menuBoton div {
    width: 100%;
    margin: 0px auto;
}

#menuBoton div button {
    display: block;
    float: left;
    width: 33.3%;
    height: 50px;
    cursor: pointer;
}